<p>
  <strong>Bizname:</strong>
  <%= @application.bizname %>
</p>

<p>
  <strong>Biznamedba:</strong>
  <%= @application.biznamedba %>
</p>

<p>
  <strong>Bizadd:</strong>
  <%= @application.bizadd %>
</p>

<p>
  <strong>Bizfl:</strong>
  <%= @application.bizfl %>
</p>

<p>
  <strong>Bizcity:</strong>
  <%= @application.bizcity %>
</p>

<p>
  <strong>Bizstate:</strong>
  <%= @application.bizstate %>
</p>

<p>
  <strong>Bizzip:</strong>
  <%= @application.bizzip %>
</p>

<p>
  <strong>Bizphone:</strong>
  <%= @application.bizphone %>
</p>

<p>
  <strong>Bizemail:</strong>
  <%= @application.bizemail %>
</p>

<p>
  <strong>Bizfax:</strong>
  <%= @application.bizfax %>
</p>

<p>
  <strong>Bizurl:</strong>
  <%= @application.bizurl %>
</p>

<p>
  <strong>Fundreq:</strong>
  <%= @application.fundreq %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @application.entity %>
</p>

<p>
  <strong>Cotype:</strong>
  <%= @application.cotype %>
</p>

<p>
  <strong>Bizloc:</strong>
  <%= @application.bizloc %>
</p>

<p>
  <strong>Datestart:</strong>
  <%= @application.datestart %>
</p>

<p>
  <strong>Prodoffered:</strong>
  <%= @application.prodoffered %>
</p>

<p>
  <strong>Ticketsale:</strong>
  <%= @application.ticketsale %>
</p>

<p>
  <strong>Moccsales:</strong>
  <%= @application.moccsales %>
</p>

<p>
  <strong>Mononccsales:</strong>
  <%= @application.mononccsales %>
</p>

<p>
  <strong>Postype:</strong>
  <%= @application.postype %>
</p>

<p>
  <strong>Poscontact:</strong>
  <%= @application.poscontact %>
</p>

<p>
  <strong>Posswipe:</strong>
  <%= @application.posswipe %>
</p>

<p>
  <strong>Poskey:</strong>
  <%= @application.poskey %>
</p>

<p>
  <strong>Fein:</strong>
  <%= @application.fein %>
</p>

<p>
  <strong>Amex:</strong>
  <%= @application.amex %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @application.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @application.lname %>
</p>

<p>
  <strong>Homeadd:</strong>
  <%= @application.homeadd %>
</p>

<p>
  <strong>Homefl:</strong>
  <%= @application.homefl %>
</p>

<p>
  <strong>Homecity:</strong>
  <%= @application.homecity %>
</p>

<p>
  <strong>Homestate:</strong>
  <%= @application.homestate %>
</p>

<p>
  <strong>Homezip:</strong>
  <%= @application.homezip %>
</p>

<p>
  <strong>Homeemail:</strong>
  <%= @application.homeemail %>
</p>

<p>
  <strong>Homephone:</strong>
  <%= @application.homephone %>
</p>

<p>
  <strong>Creditscore:</strong>
  <%= @application.creditscore %>
</p>

<p>
  <strong>Ownershipperc:</strong>
  <%= @application.ownershipperc %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @application.dob %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @application.ssn %>
</p>

<p>
  <strong>Dl:</strong>
  <%= @application.dl %>
</p>

<p>
  <strong>Bk:</strong>
  <%= @application.bk %>
</p>

<p>
  <strong>Taxlien:</strong>
  <%= @application.taxlien %>
</p>

<p>
  <strong>Priormca:</strong>
  <%= @application.priormca %>
</p>

<p>
  <strong>Mcaprovider:</strong>
  <%= @application.mcaprovider %>
</p>

<p>
  <strong>Ref1name:</strong>
  <%= @application.ref1name %>
</p>

<p>
  <strong>Ref1phone:</strong>
  <%= @application.ref1phone %>
</p>

<p>
  <strong>Ref2name:</strong>
  <%= @application.ref2name %>
</p>

<p>
  <strong>Ref2phone:</strong>
  <%= @application.ref2phone %>
</p>

<p>
  <strong>Ref3name:</strong>
  <%= @application.ref3name %>
</p>

<p>
  <strong>Ref3phone:</strong>
  <%= @application.ref3phone %>
</p>

<p>
  <strong>Bankrefname:</strong>
  <%= @application.bankrefname %>
</p>

<p>
  <strong>Bankrefphone:</strong>
  <%= @application.bankrefphone %>
</p>

<p>
  <strong>Llmort:</strong>
  <%= @application.llmort %>
</p>

<p>
  <strong>Llmortphone:</strong>
  <%= @application.llmortphone %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @application.rent %>
</p>

<p>
  <strong>Current:</strong>
  <%= @application.current %>
</p>

