<p id="notice"><%= notice %></p>

<h1>Listing Applications</h1>

<table>
  <thead>
    <tr>
      <th>Bizname</th>
      <th>Biznamedba</th>
      <th>Bizadd</th>
      <th>Bizfl</th>
      <th>Bizcity</th>
      <th>Bizstate</th>
      <th>Bizzip</th>
      <th>Bizphone</th>
      <th>Bizemail</th>
      <th>Bizfax</th>
      <th>Bizurl</th>
      <th>Fundreq</th>
      <th>Entity</th>
      <th>Cotype</th>
      <th>Bizloc</th>
      <th>Datestart</th>
      <th>Prodoffered</th>
      <th>Ticketsale</th>
      <th>Moccsales</th>
      <th>Mononccsales</th>
      <th>Postype</th>
      <th>Poscontact</th>
      <th>Posswipe</th>
      <th>Poskey</th>
      <th>Fein</th>
      <th>Amex</th>
      <th>Fname</th>
      <th>Lname</th>
      <th>Homeadd</th>
      <th>Homefl</th>
      <th>Homecity</th>
      <th>Homestate</th>
      <th>Homezip</th>
      <th>Homeemail</th>
      <th>Homephone</th>
      <th>Creditscore</th>
      <th>Ownershipperc</th>
      <th>Dob</th>
      <th>Ssn</th>
      <th>Dl</th>
      <th>Bk</th>
      <th>Taxlien</th>
      <th>Priormca</th>
      <th>Mcaprovider</th>
      <th>Ref1name</th>
      <th>Ref1phone</th>
      <th>Ref2name</th>
      <th>Ref2phone</th>
      <th>Ref3name</th>
      <th>Ref3phone</th>
      <th>Bankrefname</th>
      <th>Bankrefphone</th>
      <th>Llmort</th>
      <th>Llmortphone</th>
      <th>Rent</th>
      <th>Current</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.bizname %></td>
        <td><%= application.biznamedba %></td>
        <td><%= application.bizadd %></td>
        <td><%= application.bizfl %></td>
        <td><%= application.bizcity %></td>
        <td><%= application.bizstate %></td>
        <td><%= application.bizzip %></td>
        <td><%= application.bizphone %></td>
        <td><%= application.bizemail %></td>
        <td><%= application.bizfax %></td>
        <td><%= application.bizurl %></td>
        <td><%= application.fundreq %></td>
        <td><%= application.entity %></td>
        <td><%= application.cotype %></td>
        <td><%= application.bizloc %></td>
        <td><%= application.datestart %></td>
        <td><%= application.prodoffered %></td>
        <td><%= application.ticketsale %></td>
        <td><%= application.moccsales %></td>
        <td><%= application.mononccsales %></td>
        <td><%= application.postype %></td>
        <td><%= application.poscontact %></td>
        <td><%= application.posswipe %></td>
        <td><%= application.poskey %></td>
        <td><%= application.fein %></td>
        <td><%= application.amex %></td>
        <td><%= application.fname %></td>
        <td><%= application.lname %></td>
        <td><%= application.homeadd %></td>
        <td><%= application.homefl %></td>
        <td><%= application.homecity %></td>
        <td><%= application.homestate %></td>
        <td><%= application.homezip %></td>
        <td><%= application.homeemail %></td>
        <td><%= application.homephone %></td>
        <td><%= application.creditscore %></td>
        <td><%= application.ownershipperc %></td>
        <td><%= application.dob %></td>
        <td><%= application.ssn %></td>
        <td><%= application.dl %></td>
        <td><%= application.bk %></td>
        <td><%= application.taxlien %></td>
        <td><%= application.priormca %></td>
        <td><%= application.mcaprovider %></td>
        <td><%= application.ref1name %></td>
        <td><%= application.ref1phone %></td>
        <td><%= application.ref2name %></td>
        <td><%= application.ref2phone %></td>
        <td><%= application.ref3name %></td>
        <td><%= application.ref3phone %></td>
        <td><%= application.bankrefname %></td>
        <td><%= application.bankrefphone %></td>
        <td><%= application.llmort %></td>
        <td><%= application.llmortphone %></td>
        <td><%= application.rent %></td>
        <td><%= application.current %></td>
        <td><%= link_to 'Show', application %></td>
        <td><%= link_to 'Edit', edit_application_path(application) %></td>
        <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application', new_application_path %>
